body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  position: relative;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;

}

.main-navigation {
  list-style: none;
}

.main-navigation a {
  color: #000000;
}
.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}
.main-navigation a:active {
  color: rgba(183, 183, 183, 0.3);
}
.main-navigation a:visited {
  color: #b7b7b7;
}

.container .main-slogan {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

div.reasons-info.left,
div.reasons-info.right {
  color: #ffffff;

  background-color: #81b3d2;
}


.reasons-name,
.attractions-name {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
}
.reasons-number {
  line-height: 21px;
  text-align: center;
}
.reasons-description,
.attractions-description {
  line-height: 21px;
  text-align: center;
}

.reasons-container {
  color: #000000;

  background-color: #eeeeee;
}

.travel-search-form b {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 36px;
}

.travel-search-form p {
  line-height: 24px;
  text-align: center;
}

.button {
  font: inherit;
  font-size: 21px;
  font-weight: bold;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.travel-search-button:hover,
.travel-search-button:focus {
  background-color: #604e43;
}
.travel-search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.search-form fieldset {
  border: none;
}

.search-form label {
  font-weight: bold;
}

.search-form input {
  font: inherit;
  font-weight: bold;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-form input:hover {
  font: inherit;
  font-weight: bold;

  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.search-form input:focus {
  font: inherit;
  font-weight: bold;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #000000;
  text-transform: uppercase;
}
.search-form input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000000;
  text-transform: uppercase;
}
.search-form input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #000000;
  text-transform: uppercase;
}

.search-submit {
  text-align: center;
  background-color: #81b3d2;
}

.search-submit:hover,
.search-submit:focus {
  background-color: #669ec0;
}
.search-submit:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.main-footer {
  color: #000000;

  background-color: #ffffff;
}

.main-footer a {
  color: #000000;
}
.main-footer ul{
  margin: 0;
  padding: 0;
}
.main-footer li {
  list-style: none;
}
.sedona-hashtag {
  font-weight: bold;
  font-size: 21px;

  margin-left: 132px;
}

/*Hotels page*/
.search-filters {
  color: #ffffff;
  line-height: 21px;

  background-color: #81b3d2;
  background-image: url("../img/hotels/filters-background.jpg");
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
}

.search-filters fieldset {
  border: none;
}

.search-filters legend {
  font-size: 16px;
  font-weight: bold;
}
.search-filters ul {
  font-size: 14px;

  list-style: none;
}

.filter-input:hover,
.filter-input:focus {
  /* стилизация позже */
}

.filter-input:disabled {
  /* стилизация позже */
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;

  border: 2px solid #ffffff;

  background-color: transparent;
}
.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #ffffff;
}

.search-results-number {
  font-size: 21px;
  font-weight: bold;
}

.search-results p {
  font-size: 10.5px;
  line-height: 17.5px;
}

.search-results ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sorting-parameters a {
  font-size: 10.5px;
  line-height: 17.5px;
  color: rgba(0, 0, 0, 0.3);

  border-bottom-color: #81b3d2;
  border-bottom-style: dotted;
}

.sorting-parameters a:hover,
.sorting-parameters a:focus {
  color: #81b3d2;

  border-bottom-color: #81b3d2;
  border-bottom-style: dotted;
}

.sorting-parameters a:active {
  color: #000000;

  border-bottom-style: none;
}

.sorting-parameters a:visited {
  color: #81b3d2;

  border-bottom-style: none;
}

.hotel-name {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}
.found-hotel-information b {
  line-height: 21px;
  font-weight: normal;
}

.details-button {
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;

  background-color: #81b3d2;
}

.details-button:hover,
.details-button:focus {
  background-color: #669ec0;
}
.details-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}
.reserve-button {
  font-size: 14px;
  line-height: 21px;
}
.reserve-button:hover,
.reserve-button:focus {
  background-color: #604e43;
}
.reserve-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}
.found-hotel-ratings p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #666666;
}
/* Сеточные стили */
.main-header{
  position: relative;
  z-index: 1;
  width: 1200px;
  width: 1200px;
  margin: 0 auto;
}

.main-navigation {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

    /* temp */
  /* background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */
}
.main-navigation li:nth-child(3){
  margin-left: auto;
}

.main-navigation a{
  display: block;
  width: 239px;

  padding-top: 14px;
  padding-bottom: 16px;
  text-align: center;
}

.main-header-logo{
  position: absolute;
  left: 44%;
 
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;
}
.index-main-pic {
  margin: 0;
  padding: 0;
  
  width: 1200px;
  height: 509px;
  background-image: url("../img/ind/index-main-group.jpg");
  background-repeat: no-repeat;
  background-position-y: -82px;

  position: relative;
 }
.index-main-pic::after {
  content: "";
  width: 100%;
  height: 59px;

  margin: 0;
  padding: 0;
  background-image: url("../img/ind/polygon.png");
  background-repeat: no-repeat;

  position: absolute;
  bottom: -2px;
  left:-1px;
  
  border-right: 1px solid white;
}
.index-main-title{
  margin: 0;
  padding: 0;

  position: absolute;
  top: 76px;
  left: 370px;  
}

.main-slogan-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  top: -10px; 
}
.main-slogan,
.main-slogan-wrapper>p {
  margin: 0;
  padding: 0;
}

.main-slogan {
  width: 440px;
  margin-top: 69px;
  margin-bottom: 29px;
}
.main-slogan-wrapper>p {
  padding-bottom: 51px;
}

.reasons-attractions {
  margin: 0;
  padding: 0;
}

.reasons-wrapper{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 47px;
  margin-bottom: 60px;
}
.reasons-name,
.reasons-number,
.reasons-description{
  margin:0;
  padding: 0;
}
.reasons-name{
  display: inline-block;
  margin: auto;
  width: 151px;
}


.reasons-number{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reasons-description{
  display: inline-block;
  width: 306px;
  margin:auto;
}
div.reasons-info.left{
  display: flex;
}
div.reasons-info.left img{
  margin-left: auto;
}
.attractions{
  display: flex;
  justify-content: space-around;

  padding-top:61px;
  padding-bottom: 68px;

  background-color: #ffffff;
}
.attractions-name{
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}
.attractions-info{
  padding-top:100px;
}
.attractions-description{
  display: inline-block;
  width: 287px;
  padding-left: 54px;
}
.attractions-info.left{  
  width:33%;  

  background-position: top center;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}
.attractions-info.center{
  width:33%;  

  background-position: top center;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}
.attractions-info.right{
  width:33%;  

  background-position: top center;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

div.reasons-info.right{
  display: flex;
  flex-direction: row-reverse
}
div.reasons-info.left img{
  margin-right: auto;
}
.reasons-container{
  display: flex;
  justify-content: space-around;

}
.reasons-container .reasons-description{
  display: inline-block;

  width: 260px;
  padding-top: 5px;
}
.reasons-info:last-child .reasons-description{
  width: 259px;
}
.form-wrapper{
  height: 244px;
  background-color: #ffffff;

  padding-top: 48px;
  margin: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
  position: relative;
  z-index: 1;
}
.form-wrapper p{
  width: 438px;
  margin: 0;
  padding: 0;
  padding-top: 27px;
}
.form-wrapper p>span{
  padding: 0 69px;
}
.map-wrapper{
  height: 539px; 
  position: relative;
  margin: 0;
  padding: 0;
  
}
.map-wrapper img{
  position: relative;
}
.main-form{
  width: 568px;
  margin: 0 315px;

  background-color: rgba(255,255,255,0.9);
  position:absolute;
  z-index: 1;
  top: -88px;
}
.travel-search-button{
  display: inline-block;
  width:100%;
  padding-top: 31px;
  padding-bottom: 30px;
  margin-bottom: 35px;

  vertical-align: middle; 
}
.search-parameter{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin-left: 45px;
  margin-right: 43px;
  margin-bottom: 28px;

  position: relative;

}
.search-parameter input{
  padding: 6px;
}
.search-date input{
  width: 328px;

}
.calendar{
  position: absolute;
}
.parameter-wrap{
  display: flex;

  width:115px;
  margin: 0;

  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}
.search-submit{
  display: inline-block;
  vertical-align: middle;
  width: 457px;
  margin-top: 26px;
  margin-left: 44px;
  margin-bottom: 46px;
  padding-top: 16px;
  padding-bottom: 16px;
  

}
.main-footer{
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.9);

  position: absolute;

  left: 0; 
  right: 0;
 bottom: -43px; 
  }
.footer-copyright{
  margin-right: 101px;
}

.filter{
  display: flex;
  padding-top: 31px;
  padding-bottom: 35px;
}
.filter div:first-child{
  width:241px;
  margin-left: 73px;
}
.filter div:nth-child(2){
  width:288px;
  margin-left: 14px;
}
.filter div:last-child{
  margin-right: 73px;
  margin-left: auto;
}
.search-container{
  width: 1056px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 35px;

  display:flex;
  align-items: baseline;
  justify-content: space-between;
}
.search-container h2,
.search-container p,
.search-container ul{
  margin: 0;
  padding: 0;
}
.search-items{
  width: 528px;

  display:flex;
  align-items: baseline;
  justify-content: space-between;
}
.found-hotel{
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #e5e5e5;
}

.found-hotel:first-child{
  border-top: 2px solid #e5e5e5;
}
.inner-item-hotel{
  width: 1056px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 30px;

  display:flex;
  align-items: center;
  justify-content: space-between;
}
.hotel-wrapper{
  width: 528px;

  display:flex;
}
.found-hotel-information{
  width: 258px;
  margin-left: 30px;
}

img {
  max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}